<header class="site-header">
  <div class="header__inner">
    <div class="header__brand">
      <img class="header__logo" src="/images/logo.svg" alt="Pure Nutrition">
      <div class="header__tagline">Сухий повнораціонний корм<br>преміум класу для собак</div>
    </div>
    <div class="header__actions">
      <nav class="header__nav">
        <a class="header__link" href="/#flavors">Корми</a>
        <a class="header__link" href="/#benefits">Користь</a>
        <a class="header__link" href="/#reviews">Відгуки</a>
        <a class="header__link" href="/#order">Доставка</a>
      </nav>
      <a class="header__phone" href="tel:+380770775700">+38 (077) 077 57 00</a>
    </div>
  </div>
</header>
